
<div class="row">
  <div class="col-md-12">
    <!-- Advanced Tables -->
    <div class="panel panel-default">
      <div class="panel-heading">
        Advanced Tables
      </div>
      <!--     text daz tab materials-->
      <table [dataSource]="dataSource" mat-table>
        <!--  цвет приоритета  -->
        <ng-container matColumnDef="color">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let task" [style.background-color]="getPriorityColor(task)" class="col-color"
              mat-cell></td>
        </ng-container>


        <!-- нумерация-->
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let index = index;" class="col-id" mat-cell>

            {{index + 1}}

          </td>
        </ng-container>


        <!-- название задачи-->
        <ng-container matColumnDef="title">
          <th *matHeaderCellDef mat-header-cell> Название</th>
          <td *matCellDef="let task" class="col-title" mat-cell>

            {{task.title}}

          </td>
        </ng-container>

        <!--дата выполнения-->
        <ng-container matColumnDef="date">
          <th *matHeaderCellDef mat-header-cell> Срок</th>
          <td *matCellDef="let task"
              [ngClass]="{'greencolor': task.folder == 'work', 'bejcolor': task.folder == 'current'}"
              class="col-date"
              mat-cell>

            {{task.date | date: "medium"}}

          </td>
        </ng-container>
        <!--  заголовок таблицы-->
        <tr *matHeaderRowDef="displayedColumns; " mat-header-row></tr>

        <!--  строки таблицы - набор строк из тегов td (порядок указывается в переменной displayedColumns) -->
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

      </table>
      <!--     text daz tab materials-->
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
            <tr>
              <th>Заголовок</th>
              <th>Text</th>
              <th>Folder(s)</th>
              <th>Date</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <div *ngIf="loading; else loadingBlock" >
              <p>{{ LoadingMessage }}</p>
            </div>
            <ng-template #loadingBlock>
              <tr *ngFor="let t of tables" class="odd gradeX">
                <td
                  [ngClass]="{'success': (t.folder == 'current'), 'danger': (t.folder == 'work') }">{{t.task | slice: 0: 10}}</td>
                <td
                  [ngClass]="{'success': (t.folder == 'current'), 'danger': (t.folder == 'work') }">{{t.text | slice: 0:20}}</td>
                <td [ngClass]="{'success': (t.folder == 'current'), 'danger': (t.folder == 'work') }">{{t.folder}}</td>
                <td [ngClass]="{'success': (t.folder == 'current'), 'danger': (t.folder == 'work') }"
                    class="center">{{t.date}}</td>
                <td [ngClass]="{'success': (t.folder == 'current'), 'danger': (t.folder == 'work') }" class="center">
                  edit
                </td>
              </tr>
            </ng-template>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <!--End Advanced Tables -->
  </div>
</div>
