.cell-height {
  word-break: break-all;
}

.progress-bar {
  width: 0 !important;
}

.progress-barh {
  width: 100%;
}

.redcolor {
  background-color: darkmagenta !important;
  color: white;
}

.bejcolor {
  background-color: palegoldenrod !important;
  color: black;
}

.greencolor {
  background-color: darkolivegreen !important;
  color: white;
}
