
<div class="row">
  <div class="col-md-12">
    <!-- Advanced Tables -->
    <div class="panel panel-default">
      <div class="panel-heading">
        Advanced Tables
      </div>
      <!--     text daz tab materials-->

      <!--     text daz tab materials-->
      <div class="panel-body">
        <div class="table-responsive">
          <table [dataSource]="dataSource" mat-table>
            <!--  цвет приоритета  -->
            <ng-container matColumnDef="color">
              <th *matHeaderCellDef mat-header-cell></th>
              <td *matCellDef="let task" [style.background-color]="getPriorityColor(task)" class="col-color"
                  mat-cell></td>
            </ng-container>

            <!-- название задачи-->
            <ng-container matColumnDef="tast">
              <th *matHeaderCellDef mat-header-cell>Название</th>
              <td *matCellDef="let task" class="col-task" mat-cell>

                {{task.task}}

              </td>
            </ng-container>

            <!-- содержиние задачи-->
            <ng-container matColumnDef="text">
              <th *matHeaderCellDef mat-header-cell>Содержание</th>
              <td *matCellDef="let task" class="col-text" mat-cell>

                {{task.text}}

              </td>
            </ng-container>

            <!-- содержиние задачи-->
            <ng-container matColumnDef="folder">
              <th *matHeaderCellDef mat-header-cell>folder</th>
              <td *matCellDef="let task"
                  [ngClass]="{'greencolor': task.folder == 'work', 'bejcolor': task.folder == 'current'}"
                  class="col-folder" mat-cell>

                {{task.folder}}

              </td>
            </ng-container>

            <!--дата выполнения-->
            <ng-container matColumnDef="date">
              <th *matHeaderCellDef mat-header-cell>Date</th>
              <td *matCellDef="let task" class="col-date" mat-cell>

                {{task.date | date: "medium"}}

              </td>
            </ng-container>

            <!--  цвет приоритета  -->
            <ng-container matColumnDef="delete">
              <th *matHeaderCellDef mat-header-cell></th>
              <td *matCellDef="let task" [style.background-color]="getPriorityColor(task)" class="col-delete"
                  mat-cell>
                del
              </td>
            </ng-container>

            <!--  заголовок таблицы-->
            <tr *matHeaderRowDef="displayedColumns; " mat-header-row></tr>

            <!--  строки таблицы - набор строк из тегов td (порядок указывается в переменной displayedColumns) -->
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

          </table>
        </div>

      </div>
    </div>
    <!--End Advanced Tables -->
  </div>
</div>
