<div id="wrapper">
  <app-header (leftMenu)="isSideNavCloded = !isSideNavCloded"></app-header>
  <!--/. NAV TOP  -->

  <nav [style]="{display:isSideNavCloded ?'none':'block'}" class="navbar-side" role="navigation">
    <app-categories (leftMenu)="isSideNavCloded = !isSideNavCloded"></app-categories>
  </nav>
  <!-- /. NAV SIDE  -->
  <!--/. row daz  -->
  <div id="page-wrapper2">
    <router-outlet></router-outlet>
  </div>

  <!-- /. end row daz  -->
  <div class="footer">
    <div class="progress progress-striped active">
      Salut
    </div>
  </div>
</div> <!--end wrapper-->


